
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #22D1EE;
  border: 2px solid #22D1EE;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 726px) {
    width: 30px;
    height: 30px;
  }
}

.label {
  text-align: center;
  color: #333;
  position: absolute;
  width: 200px; 
  margin: 10px;
}

.label.top {
  bottom: 130px;
  @media (max-width: 640px) {
    bottom: 110px;
  }
}

.label.bottom {
  top: 130px;
  @media (max-width: 640px) {
    top: 110px;
  }
   /* Adjust the distance from the circle to the label */
}

.vertical-line {
  opacity: 50%;
  position: absolute;
  width: 2px;
  background-color: #000000;
  left: 50%;
  transform:  translateX(-50%);
  z-index: -1;
}



.vertical-line.top {
  bottom: 120%;
}
.vertical-line.top::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.vertical-line.bottom {
  top: 120%;
}
.vertical-line.bottom::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}


/* Phones in portrait */